/* COMMON CSS STARTS */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
}

/* COMMON CSS ENDS */
/* NAV CSS STARTS */
#primary_nav {
  background-color: #02918c;
}
#primary_nav #menu a {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  padding: 13.5px 25px;
}
/* NAV CSS ENDS */
